.consoleWindow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
    max-width: 500px;
    width: 75vw;
    height: 340px;
    background-color: var(--off-black);
    color: var(--accent2);
    text-align: left;
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 15px;
    white-space: pre-line;
}

.consoleContent {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
    white-space: pre-line;
}
