.experience-post {
    display: flex;
    align-items: flex-start;
    background: rgba(17, 16, 67, 0.391);
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    max-width: 90%;
}

.profile-image {
    max-width: 5vw;
    height: auto;
    border-radius: 50%;
    margin: 3%;
}

.post-content {
    flex: 1;
    text-align: left;
    max-width: 100%;
    
}

.post-title {
    font-size: .9rem;
    font-weight: bold;
    color: var(--accent2);
    margin: 0;
    height: fit-content;
    display: flex;
    align-items: center;
}

.post-subtitle {
    font-size: .85rem;
    color: var(--accent3);
    margin: 2px 0;
}

.post-body {
    font-size: 14px;
    margin: 10px 0;
    font-size: .8rem;
    line-height: 1.2rem;
}

.like-button {
    min-width: max-content;
    background: var(--primary);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: transform 0.1s ease-in-out, background 0.3s;
}

.like-button:hover, .like-button.liked:hover {
    background: var(--accent3);
    color: var(--off-black);
}

.like-button.pop{
    transform: scale(1.2);
    background: var(--accent4);
    color: rgb(118, 70, 70);
}

.like-button.liked{
    background: var(--accent4);
    color: rgb(118, 70, 70);
}

.like-button.unliked {
    transform: scale(0.8);
    background: #414141;
    color: white;
}

.tags {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-height: 35px;
    min-height: fit-content;
    gap: 10px;
    align-items: center;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.tag{
    font-size: .7rem;
    font-weight: 600;
    overflow: visible;
    min-width: max-content;
    background-color: var(--accent2);
    border-radius: 20px;
    padding: 3px 5px;
    color: var(--background);
    text-align: center;
}