/* global colors*/
:root {
    --primary: #bcb2d6;
    --secondary: #EFE8FF;
    --background: #393562;
    --accent1: #FFF9CC;
    --accent2: #DDFBD2;
    --accent3: #BCEDF6;
    --accent4: #ffcec6;
    --off-white: #ebe6fb;
    --grey-light: #ccc4de;
    --grey-mid: #8f85a4;
    --grey-dark:#625c70;
    --off-black: #1c1923;
}

  /* Apply the colors globally */
body {
    font-size: small;
    color: var(--accent2);
}

  /* Custom header styles */
h1, .header-large {
    font-size: 32px;
    font-weight: bold;
    color: var(--secondary);
}

h2, .header-medium {
    font-size: 18px;
    font-weight: bold;
    color: var(--background);
}

h3, .header-small {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: var(--background);
}

a, .link {
    font-size: 14px;
    font-weight: bold;
    color: var(--accent1);
    text-decoration: none;
}

a:hover, .link {
    color: var(--accent3)
}

/* -------------------------------------------------------------------------- */
/*                             TOP BAR FOR WINDOWS                            */
/* -------------------------------------------------------------------------- */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    min-height: 25px;
    cursor: move;
    color: white;
    font-size: 12px;
    border-radius: 15px 15px 0 0;
}

.title {
    height: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    display: flex;
    align-items: center;

}

.icons {
    position: absolute;
    right: 0;
    height: inherit;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15px;
    
}

.icons:hover {
    color: pink;
}

.close {
    transform: translateY(10%);
    cursor: pointer;
}

.transparent_gradient {
    display: block;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 13.0208333333vw;
    background: linear-gradient(90deg, transparent 0, #36326c 100%);
    border: 1px solid pink
}
