.profile-window {
    position: absolute;
    top: 50%;            /* Center vertically */
    left: 50%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 375px;
    position: absolute;
    width: 300px;
    background-color: var(--primary);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 900;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    cursor: move;
    color: white;
    font-size: 12px;
    height: 25px;
    border-radius: 15px 15px 0 0;
}

.title {
    height: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    display: flex;
    align-items: center;

}

.icons {
    position: absolute;
    right: 0;
    height: inherit;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15px;
    
}

.close {
    transform: translateY(10%);
    cursor: pointer;
}

.close:hover {
    color: pink;
}
.profile-info {
    margin-bottom: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
    line-height: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image {
    width: 95px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the circle */
    background-color: #E2E7CB;
}

/* Buttons */

.resume-button {

    font-family:'Space Mono';
    font-weight: bold;
    background-color: #FEF4C3;
    color: #242520;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.resume-button:hover {
    background-color: var(--accent3);
}